html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


footer {     
    position: absolute;    
    margin-left: auto;
    width:100%;    
    background-color: #092432;
}

.copy{
    color:#ffffff !important; 
    font-weight: bold;
}

.logo-hidalgo {
    margin: 0 auto;
    display: block;
    width: 20%
}

.nav-link {
    color: #ffffff;
    font-size: 15px;
}


@media (max-width: 758px) {
    .logo-hidalgo {
        margin-top: 30px;
        width: 30%;
    }
}

.navbar {
    background-color: #092432 !important;
}

.navbar-brand {
    color: #ffffff !important;
}